@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  cursor: url("https://cur.cursors-4u.net/games/gam-14/gam1339.cur"), auto !important;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

:root {
  --font-base: "Poppins", sans-serif;
  --back-color: #24282f;
  --font-color: #fff;
}

a{
    text-decoration: none;
    color: var(--font-color);
}

body {
  max-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top, #7d1cdd, #620497, #570081);

}

/* NAV AND SIDE BAR */

 .sidebar{
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 140px ;
    padding: 5px 14px;
    z-index: 100; 
    margin-top: 3rem;
    font-family: var(--font-base);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    margin-left: 2rem;
}

.navbar{
    color: var(--font-color);
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: .8rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-image: linear-gradient(to left, #7611db,  #620497, #570081);;
}

.main-content{
    margin-top: 4rem;
    margin-left: 12rem;
}

.navbar .opcoes,
.navbar .logo,
.navbar .fav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-inline: 1.5rem;
}
.navbar a{
    transition: 300ms;
}

.navbar a:hover{
    transition: 300ms;    
    font-size: .9rem;
    color: yellow;
}

.logo span{
    color: yellow;
}
.navbar .opcoes{
    width: 15rem;
}
.navbar .fav{
    margin-right: 5rem;
}
.navbar .logo p{
    padding-inline: 1rem;
    font-size: 1rem;
    transition: 300ms;
}
::-webkit-scrollbar {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/Nicolas_Cage_Deauville_2013.jpg");
    background-size: contain;
  } 

.sidebar ul{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.sidebar li{
   
    height: 50px;
    list-style: none;
    margin-top: 5px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    color: var(--font-color);

}

.sidebar li a:hover{
    background-color: rgba(255, 255, 255, 0.4);
    width: max-content;
    padding: 0 10px 0 10px;
}

.sidebar li .tooltip{
    position: absolute;
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    visibility: hidden;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    position: absolute;
    pointer-events: auto;
    transition: all 0.4s ease;
    visibility: hidden;
    transform: translateY(-50%); 
  }


@media (max-width:653px) {
    .nav-link a span{
        display: none;
    }
    

    .sidebar{
        width: 60px;
        position: sticky;
        height: 100%;
        min-height: 100vh;
    }
    .sidebar li a:hover{
        background-color:transparent;
        width: 0;
        padding: 0;
    }
    .sidebar li:hover .tooltip{
visibility:visible;
    }
}